body {
  padding-top: 96px;
}

.navbar-lteblue  {
  background-color: #23FFEC;
}

.text-lteblue  {
  color: #23FFEC;
  font-family: 'Headland One', serif;
}

.carousel-caption  {
  text-align: left;
}

.bg-ltblue  {
  background-color: #23FFEC;
}
